---
import NavLayout from "../layouts/NavLayout.astro";
---

<NavLayout
  title="关于我们 - NPULUG"
  description="关于 NPULUG (西北工业大学 Linux 用户组) 的信息。"
>
  <h1>关于我们</h1>

  <p>
    我们是西北工业大学 Linux 用户组 (NPULUG)，一个由热爱 Linux
    和开源技术的学生组成的非官方组织。
  </p>

  <p>我们致力于：</p>
  <ul>
    <li>推广 Linux 操作系统和开源文化在校园内的应用。</li>
    <li>为同学们提供一个学习、交流和分享 Linux 及相关技术的平台。</li>
    <li>分享技术，与同学们共同探索的乐趣。</li>
  </ul>

  <p>
    无论你是经验丰富的 Linux
    用户，还是对开源世界充满好奇的新手，我们都欢迎你的加入！在这里，你可以找到志同道合的伙伴，一起学习，一起成长。
  </p>

  <p>关注我们的博客，获取最新的活动信息和技术分享。</p>
</NavLayout>
