---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css"; // 引入全局样式

const { title, description } = Astro.props;
// const githubUrl = "https://github.com/withastro/astro"; // Remove global githubUrl
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body>
    <slot />
    <Footer />
  </body>
</html>
